:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #424242;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  width: 400px;
  animation-name: marquee;
  animation-duration: .35s;
  animation-iteration-count: infinite;
  padding-bottom: 30px;
}

@keyframes marquee {
  0%   {content: url('./assets/1marquee.svg')}
  33%  {content: url('./assets/2marquee.svg')}
  66%  {content: url('./assets/3marquee.svg')}
}

textarea {
  width: 335px;
  padding: 12px 14px;
  height: 97px;
  box-sizing: border-box;
  display: block;
  border: none;
  border-radius:6px;
  margin: 20px;
  placeholder: "be nice!";
  resize: none;
  font-size: large;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
textarea:focus {
  outline-color: white;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  border:solid white 6px;
  border-radius:6px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input {
  font-size: 1.2em;
}

#dict1, #dict2, #dict3 {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}

#dict1 {
  color: red;
}

#dict1 tr:nth-child(even) {
  background-color: #c5e0dc;
}

#dict2, #dict3 {
  color: black;
}

#dict2 tr:nth-child(even), #dict3 tr:nth-child(even) {
  background-color: #fffb8b;
}

tr:nth-child(odd) {
  background-color: white;
}
